{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<section class='jumbotron my-5 mx-7 contact'>
 <div class="container">
   <h1 class="h1-responsive font-weight-bold text-center my-4">Contact Us</h1>
   <br><br>
    <div class="row">
        <div class="col-md-6"> 
           
          <div class='pr-5'>
            <h2 class="my-4">We'd love to hear from you!</h2>
            
            <p class="text-justify dark-grey-text w-responsive mx-auto mb-5" style="text-indent: 0em">
            Whether you have question about the trekkings, feedbacks or advises, our team is ready to answer you!
            </p>
           
            <img class='ml-5' style='width: 70%; height: auto'  src="{% static 'imagens/contact.png' %}" alt="">  

          </div>      
        </div>  
      
 
      <div class="col-md-6">
        <form action="" method="POST" class="h1-responsive font-weight-bold my-4">

          {% csrf_token  %}
            {% for field in form %}
              <label class="col-sm-4" for="{{ field.name }}">{{ field.label }} : </label>
                <div class="col-sm-12">
                  {{ field }}
                </div>
            {% endfor %}
          <button type="submit" class="mt-4 btn btn-success col-sm-12">Submit</button>
        
        </form>
      </div>
    </div>
  </div>
 </section>
{% endblock %}
