{% extends 'blog/base.html' %}
{% load static %}

{% block content  %}

<section class="my-5 mx-5">
  <div class="container">
    <div class="jumbotron row">
      
      <!-- Post -->
      <div class="col-md-7 d-flex px-4">
        <div class="align-self-center">
         <h1 class="display-4">The Biggest Adventure About to Start</h1>
          
         <p class='text-justify mt-4'>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          
          <p class='text-justify mt-4'>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>

        </div>
      </div>
      
      <!-- Image -->
      <div class="col-md-5 col-md-offset-2 px-4">
        <img src="{% static 'imagens/caravela.jpg' %}" id="imag-home" >
      </div>

    </div>
    
    <hr class="my-5">
    
 
  <!-- SECOND SECTION -->
 
  <div class="jumbotron row">
  
  <h1 class="display-4 px-4 mb-5">Where the Adventures happen</h1> 
  <!-- Image -->
      <div class="col-md-5 col-md-offset-2 px-4">
        <img src="{% static 'imagens/map-india.jpg' %}" id="imag-home" >
      </div>

    <!-- Post -->
      <div class="col-md-7 px-4">
      
          <p class='text-justify mt-4'>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>

          <p class='text-justify mt-4'>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>

          <p class='text-justify mt-4'>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>

      </div>
   
    </div>  
  
  </div>
</section>

{% endblock%}
