{% extends 'blog/base.html' %}

{% block content  %}

<section class="banner-section">
</section>

<section class="my-5 mx-5">
  
  <!--Section Heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Quote Day</h2>
  <!-- Section description -->
  <p class="text-center dark-grey-text w-responsive mx-auto mb-3">
  
  Historians, writers, politicians and other eminent personalities across the Globe have greatly appreciated India and its contribution to rest of the world. Though these remarks are only a partial reflection of the greatness of India, they certainly make us feel proud of our motherland.
  </p>
  
  <p class="text-center dark-grey-text w-responsive mx-auto mb-5">
  "We owe a lot to the Indians, who taught us how to count, without which no worthwhile scientific discovery could have been made!"i
  <br>
  <span>- Albert Einstein (Theoretical Physicist, Germany)</span>
  </p>

  
  <h2 class="h1-responsive font weight-bold text-center my-3">About the Blog</h2>
  <p class="text-justify dark-grey-text w-responsive mx-auto mb-5">
    History is fascinating, recall the facts that shaped our world is one of my favourite hobbies. Our society may not be perfect, actually we are far beyond that, yet humankind is teeming of great acts that deserve to be remembered. Many characters played a role in the curse of earth fate, inspiring us in different ways, pushing us to new places to face adventures. I don’t know why but Portugueses play an important motivational attitudes on my life, may be because Brazil is an old Portugal colony and due that our histories are tied. During my school days I remember my teacher telling about the places Portuguese went and achievement they had. One of my favourites stories is about Bartolomeu Dias, Portuguese discovery from century XV. He was the first to cross the Cape of Storms, lately renamed to Cape of Good Hope. 
  </p>
  

  <p class="text-justify dark-grey-text w-responsive mx-auto mb-5">
  
  This website is my way to tell about my own adventures in a far away land. I am facing a challenge much more safe than Bartolomeu Dias faced on his time, but yet full of wonderful and mysterious. I came to India, one of the most ancient civilizations in the Earth. 

  </p>

  </section>

{% endblock%}
