@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body{
  background-color: #d3d3d3 !important;
}

footer{
  background: #343940;
}

footer a{
  color: #007437;
}

section p{
  text-indent: 2em;
}

.bg-imagem {
  /* The image used */
  background-image: url("../imagens/back3-imagem.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
}

.logo span{
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

.topnav a {
  color: #f2f2f2;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
}

#caravela{
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}
